<!-- head -->
<%- include('include/_head')%>


    <div class="box">
        <div class="employee_management">
            <%- include('include/sidebar')%>
            <%- include('include/mainpage')%>
        </div>
    </div>


    <!-- add Employees -->
    <%- include('include/add_employee')%>

    <!-- edit employee -->
    <%- include('include/edit_employee')%>
    
    <!-- delet employee -->
    <%- include('include/delete')%>

    <!-- Employee Added -->
    <%- include('include/employee_added.ejs')%>
    
    <!-- javascript link -->

    <%- include('include/footer')%>
    <!-- <script src="javascript.js"></script> -->
    
